{# Footer: Top #}
<div class="container">
    <div class="row">
        {# Left address #}
        <div class="order-lg-1 col-sm-6 col-lg-4">
            <div class="footer-content text-muted">
                <h4 class="title">New Gallifrey Brewing Company</h4>
                <ul class="list-icons">
                    <li>
                        <i class="fa fa-map-marker pr-1 text-default"></i>
                        509 Resource Row, Chesapeake, VA
                        23320, USA
                    </li>
                    <li>
                        <i class="fa fa-phone pr-1 text-default"></i>
                        (757) 455-0100
                    </li>
                    <li>
                        <i class="fa fa-envelope-o pr-1 text-default"></i>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        {# /Left address #}

        {# Right address #}
        <div class="order-lg-3 col-sm-6 col-lg-4">
            <div class="footer-content text-muted">
                <h4 class="title">New Gallifrey Brewing Company</h4>
                <ul class="list-icons">
                    <li>
                        <i class="fa fa-map-marker pr-1 text-default"></i>
                        1600 Clifton Road Atlanta, GA
                        30329-4027, USA
                    </li>
                    <li>
                        <i class="fa fa-phone pr-1 text-default"></i>
                        (800-232-4636) / 888-232-6348
                    </li>
                    <li>
                        <i class="fa fa-envelope-o pr-1 text-default"></i>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        {# /Right address #}

        {# Social network #}
        <div class="order-lg-2 col-sm-12 col-lg-4">
            <div class="footer-content">
                <section class="d-flex justify-content-center">
                    <ul class="social-links">
                        <li class="facebook">
                            <a target="_blank" href="http://www.facebook.com/#">
                                <i class="fab fa-facebook"></i>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="instagram">
                            <a target="_blank" href="http://www.instagram.com/#">
                                <i class="fab fa-instagram"></i>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="http://www.twitter.com/#">
                                <i class="fab fa-twitter"></i>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="youtube">
                            <a target="_blank" href="http://www.youtube.com/#">
                                <i class="fab fa-youtube"></i>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a target="_blank" href="https://www.linkedin.com/#">
                                <i class="fab fa-linkedin"></i>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        {# /Social network #}
    </div>
</div>
{# /Footer: Top #}

{# Footer: Bottom #}
<div class="undergroundfooter bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <p class="">
                    Enjoy New Gallifrey Responsibly &copy; {{ 'now'|date('Y') }} &middot; New Gallifrey Brewing Company
                </p>
                <p>
                    <a class="footer-link" href="#">Contact The Doctor</a>
                    |
                    <a class="footer-link" href="https://www.pole-emploi.fr/accueil/">Jobs</a>
                    |
                    <a class="footer-link" href="#">Contest Rules</a>
                    |
                    <a class="footer-link" href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>

    <p class="text-center text-muted">
        Made with
        <small class="text-danger">&#10084;</small>
        by {{ project.name }}
    </p>
</div>
{# /Footer: Bottom #}