<!-- header avec une image pleine en background centree verticalement -->
<div class="my-header-bg">
    <div class="row mx-auto">
        <div class="col-5 d-none d-lg-block line px-0">
            <hr>
        </div>
        <div class="col-2 logo mx-auto px-0">
            <img src="{{ asset('build/images/header/octopus_full_logo.svg') }}" width="100" height="100"
                 class="d-inline-block align-top" alt="Logo {{ project.name }}">
        </div>
        <div class="col-5 d-none d-lg-block line px-0">
            <hr>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-75 align-items-center">
            <div class="col-12">
                <h1 class="display-4 font-weight-normal quote-text">"Work is the curse of the drinking classes."
                </h1>
                <p class="lead text-right quote-text">― Oscar Wilde</p>
            </div>
        </div>
    </div>
</div>
<!-- /header avec une image pleine en background centree verticalement -->