// the ~ allows you to reference things in node_modules
@import "~bootstrap";

/* fontawesome 5 free */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

/* import external URL font - Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

/* header & footer */
@import "./layouts/header";
@import "./layouts/footer";
/* variables */
@import "./shared/variables";

/*------------------------------
            Global
-------------------------------*/
body {
  font-family: $primary-font, sans-serif;
  background-color: #e4e4e4;
  padding-top: 61px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font, sans-serif;
}

/*------------------------------
  Products page: Animation image
-------------------------------*/
.product img {
  transition: transform 0.3s ease-out;
  
  &:hover {
    transform: scale(1.075);
  }
}