// the ~ allows you to reference things in node_modules
@import "~bootstrap";

/* fontawesome 5 free */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* import external URL font - Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

/* header & footer */
@import "./layouts/header";
@import "./layouts/footer";
/* variables */
@import "./shared/variables";

/*------------------------------
            Global
-------------------------------*/
body {
  font-family: $primary-font, sans-serif;
  background-color: #e4e4e4;
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, sans-serif;
}

/*------------------------------
  Products page: filter loader 
-------------------------------*/
.is-loading {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 4;
  }
  .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
  }
}
/*------------------------------
  Products page: Animation image
-------------------------------*/
.product img {
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.075);
  }
}

/*------------------------------
      Login page: Form
-------------------------------*/
form {
  .separator {
    .border-separator {
      border-bottom: 1px solid #adadad;
    }
    .bg-separator {
      background-color: #e4e4e4;
      padding: 15px;
    }
  }
  #socialLoginList {
    .is-disabled {
      background-color: #faf9f5;
      border-color: #000;
      color: #757575;
      font-size: 16px;
    }
  }
  .privacy-policy {
    font-size: 12px;
  }
}
