/*------------------------------
  Footer: Top
-------------------------------*/
footer {
  position: relative;
  margin-top: 0;
  background-color: #d9d1c3;
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 1.5;
  .footer-content {
    padding: 20px 0;
    h4 {
      font-size: 19px;
    }
    .list-icons {
      list-style: none;
      padding: 0;
      li {
        padding: 5px 0;
        i {
          min-width: 25px;
          text-align: center;
        }
      }
      .text-default {
        color: #cc3423;
      }
    }
  }
  .undergroundfooter {
    color: #c8c8c8;
    border: 0;
    font-size: 14px;
    line-height: 1.3;
    padding: 25px 0;
    p {
      margin-bottom: 0;
    }
  }
}

/*------------------------------
  Footer: Social links
-------------------------------*/
.social-links {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  li {
    display: inline-block;
    margin: 0 5px 5px 0;
    &.facebook a:hover {
      color: #fff;
      background-color: #3b5998;
      border-color: #777;
    }
    &.instagram a:hover {
      color: #fff;
      background-color: #125688;
      border-color: #777;
    }
    &.twitter a:hover {
      color: #fff;
      background-color: #55acee;
      border-color: #777;
    }
    &.youtube a:hover {
      color: #fff;
      background-color: #bb0000;
      border-color: #777;
    }
    &.linkedin a:hover {
      color: #fff;
      background-color: #007bb5;
      border-color: #777;
    }
    a {
      width: 40px;
      height: 40px;
      display: block;
      text-align: center;
      font-size: 18px;
      border: 1px solid #777;
      color: #777;
      background-color: transparent;
      border-radius: 4px;
      i {
        line-height: 40px;
      }
    }
  }
}
