/*------------------------------
        Header & messages
-------------------------------*/
/*-- Navbar --*/
nav {
  &.bg-custom-navbar {
    background-color: #cc3423;
  }

  .btn-account-connected {
    padding-right: 25px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 3px solid #e7887b;
    }
  }
}

/*-- Banner Impersonate --*/
.switch-user {
  margin-top: 12px !important;
  z-index: 1;
}
