/*------------------------------
  Header: Navbar
-------------------------------*/
/*-- Navbar --*/
nav {
  &.bg-custom-navbar {
    background-color: #cc3423;
  }

  .user-account-connected {
    width: 200px;
  }
  .cart-badge-top-right {
    background: yellow;
    position: relative;
    top: -10px;
    right: -2px;
  }
}

/*--------------------------------
  Header: Banner Impersonate
----------------------------------*/
.switch-user {
  z-index: 1;
  margin-bottom: -1rem !important;
}

/*--------------------------------
  Header: Background img
----------------------------------*/
header {
  .my-header-bg {
    height: 75vh;
    min-height: 400px;
    background-image: url("../../images/header/bar-beer.jpg");
    background-size: cover;
    color: #fc9816;
  }
}
