<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title h5">
                <a href="{{ path('app_product_show', {slug: product.slug, id: product.id}) }}">{{ product.title }}</a>
            </h2>
            <div class="text-primary h4">{{ product.formatedPrice }} €</div>
        </div>
    </div>
</div>