{% extends 'layouts/base.html.twig' %}

{% block title %} Les produits | {{ parent() }} {% endblock %}

{% block body %}
<!-- Titre de la page-->
<h1>Bienvenue sur la page des produits</h1>

<!-- Liste des produits -->
<div class="row">
    {% for product in products %}
        <!-- Import du template associé au Product -->
        {% include "product/_product.html.twig" %}
    {% endfor %}
</div>

{# display pagination navigation #}
<div class="navigation">
    {{ knp_pagination_render(products) }}
</div>

{% endblock %}