// Font variables
$title-font: 'Montserrat';
$primary-font: 'Roboto';

// Homepage background images
$bg-img-1: '../images/homepage/voodoo-ranger.png';
$bg-img-2: '../images/homepage/barrels-on-trailers.png';
$bg-img-3: '../images/homepage/beer-from-barrel.png';
$bg-img-4: '../images/homepage/glass-beer-on-bar.png';