{% extends 'layouts/base.html.twig' %}

{% block title %} New product | {{ parent() }} {% endblock %}

{% block body %}

<div class="mx-auto">
    <!-- Titre avec le nom du produit à modifier -->
    <h1>Creation d'un produit</h1>

    <!-- Import du formulaire associé à la classe Product -->
    {% include "admin/product/_form.html.twig" %}
</div>

{% endblock %}